body {
    background-color: white;
}
h1 {
    color: deepskyblue; 
    font-family: "EB Garamond", Times;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
}
h2 {
    color: pink;
    font-family: "EB Garamond", Times;
    font-size: 20px;
    text-align: center;
}
p {
    color: black;
    font-family: "Times New Roman", Times;
    font-size: 18px;
    text-align: center;
}
