body {
    background-color: deepskyblue;
}
h1 {
    color: darkblue; 
    font-family: times new roman;
    font-size: 50px;
    text-align: center;
}
h2 {
    color: white;
    font-family: times new roman;
    font-size: 20px;
    text-align: center;
}
p {
    color: black;
    font-family: times new roman;
    font-size: 18px;
    text-align: center;
}
a {
    color: black;
    font-family: times new roman;
    font-size: 18px;
    text-align: center;
}
