body {
    background-color: deepskyblue;
}
h1 {
    color: blue; 
    font-family: times new roman;
    font-size: 60px;
    text-align: center;
}
h2 {
    color: white;
    font-family: times new roman;
    font-size: 20px;
    text-align: center;
}
p {
    color: pink;
    font-family: times new roman;
    font-size: 18px;
    text-align: center;
}
